@model IEnumerable<Day9.Models.StudentCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { StudentId = item.StudentId , CourseId = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new { StudentId = item.StudentId , CourseId = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete", new { StudentId = item.StudentId , CourseId = item.CourseId })
            </td>
        </tr>
}
    </tbody>
</table>
